---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro"
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import Experience from "../components/Experience.astro";
import CodeIcon from "../components/icons/Code.astro";
import ProfileCheck from "../components/icons/ProfileCheck.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";
---

<Layout
  title="Sebastian Bernal's Portfolio - Web Developer and Programmer"
  description="Hire Sebastian Bernal to support and work on web and software development"
  >
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>
    <div class="space-y-24">
    <SectionContainer id="experience">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <Briefcase class="size-8" />
        Work Experience 
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <CodeIcon class="size-7" />
        Projects
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="about-me">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
      >
        <ProfileCheck class="size-8" />
        About me
      </h2>
      <AboutMe />
    </SectionContainer>
  </div>
  </main>
</Layout>

